* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.song-card {
    background-color: #2e3a46;
    height: 350px;
    width: calc(100% / 5 - 30px);
    margin: 50px 15px 15px 15px;
}

img {
    padding: 15px;
}

h4 {
    font-weight: bold;
    color: #fff;
}

p {
    color: #666;
}

.header {
    background-color: #2e3a46;
    height: 80px;

}

img {
    height: 50px;
    display: block;
    margin-left: 20px;
}