* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.song-card {
    background-color: #2e3a46;
    height: 350px;
    width: calc(100% / 5 - 30px);
    margin: 50px 15px 15px 15px;
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-img {
    padding: 15px;
    max-width: 100%;
    height: 70%;
    margin: 0 auto;
}

h4 {
    font-weight: bold;
    color: #fff;
}

p {
    color: #666;
    line-height: 25px;
}

header {
    background-color: #2e3a46;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #1e2d3b;
    height: 90vh;
}

h1 {
    margin-right: 20px;
    color: #fff;
}

.logo {
    height: 50px;
    display: block;
    margin-left: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}